<!DOCTYPE html>
<html ng-app="MyLogin">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
	 <script src="controller.js"></script>
    
    	

  </head>
<body ng-controller="LoginController">
<form action="/" id="myLogin">
Username: <input type="text" ng-model="username"><br>
Password: <input type="password" ng-model="password"><br>
<button type="submit" ng-click="submit()">Login</button><br>
</form>

</body>

<div>hola {{username}}</div>

</html>
