. {
	margin: 0px auto;
	padding: 0px;
}

body{
	background-image: url('images/fondo.jpg');

}



.transbox {
    margin: 30px;
    border: 2px solid black;
    background-color: rgba(255,255,255,0.7);
    scroll-behavior: fixed;
    overflow: auto;
}

header {
    margin: 0px;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid black;
    opacity: 1px;
    filter: alpha(opacity=80);

}

header h1 {
    text-align: center;
    font-family: xxxxxx;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.85);
    opacity: 1;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: fuenteMayus;
    font-size: 160%;
}


.active {
    background-color: red;
    color: white;
}

div #form {
	float: left;
}

div #carnet {
	float: right;
	margin-right: 300px;
	margin-top: 150px;
	border: 4px solid black;
	border-radius: 30px;
	padding: 10px;
	width: 350px;


}

#carnet p{
	margin-left: 20px;
	font-weight: bold;
}


input {
	margin: 10px;
}

footer {
    margin: 30px;
    border: 2px solid black;
    background-color: rgba(255,255,255,0.7);
}

#form p {
	margin-left: 10px;
}

#form select { 
	margin-left: 10px;
	min-width: 92%;
 }

 .justiceleague{
 	background-image: url("images/justiceleague.jpg") ;
 	background-size: 100%;
 	background-repeat: no-repeat;
 	
 }

 #foto{
 	border: 1px solid black;
 	height: 100px;
 	width: 100px;
 	background-image: url("images/nn.png");
 	background-size: 100px 100px;
 }

